LAAS.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:element name="LAAS">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Membres"/>
                <xsd:element ref="Equipe" maxOccurs="unbounded"/>
                <xsd:element ref="En_Cours" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element ref="Soutenue" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element ref="Auteur" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element ref="Revue" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element ref="Article_Conference" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element ref="Partenaire" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="Projet_de_Recherche" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element ref="Theme" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element ref="Conference" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element ref="Reunion_groupe" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

<xsd:element name="Membres">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="Membre" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="Membre">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="id_membre" type="xsd:token"/>
            <xsd:element name="nom_membre" type="xsd:string"/>
            <xsd:element name="prenom_membre" type="xsd:string"/>
            <xsd:element name="grade" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<!--Ajout des attrinbut externe -->
            <xsd:element name="titre_these" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="acronyme_equipe" type="xsd:token"/>
            <xsd:element name="id_production_scientifique" type="xsd:token" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:key name="cle_membre">
		<xsd:selector xpath= "Membre"/>
		<xsd:field xpath="@id_membre"/>
	</xsd:key>

	<xsd:keyref name="these_ref" refer="cle_membre">
    	<xsd:selector xpath="These"/>
		<xsd:field xpath="@titre_these"/>
	</xsd:keyref>

	<xsd:keyref name="prod_ref" refer="cle_membre">
    	<xsd:selector xpath="Production_Scientifique"/>
    	<xsd:field xpath="@id_production_scientifique"/>
	</xsd:keyref>
    <!-- clé bien faite  + mettre un @dans le xpath fait reference a un attribut, pas un element /!\-->
    <xsd:keyref name="equipe_ref" refer="cle_equipe">
        <xsd:selector xpath = "acronyme_equipe"/>
        <xsd:field xpath="."/>
    </xsd:keyref>

</xsd:element>

<xsd:element name="Equipe">

    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="nom_equipe" type="xsd:string"/>
            <xsd:element name="acronyme_equipe" type="xsd:token"/>
            <!-- ajout des attributs externes-->
            <xsd:element name="acronyme_theme" type="xsd:token"/>
            <xsd:element name="id_membre" type="xsd:token"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- clé bien faite  + mettre un @dans le xpath fait reference a un attribut, pas un element /!\-->

    <xsd:key name="cle_equipe">
        <xsd:selector xpath = "Equipe/acronyme_equipe"/>
        <xsd:field xpath = "."/>
    </xsd:key>

    <xsd:keyref name="theme_ref" refer="cle_equipe">
        <xsd:selector xpath = "Theme"/>
        <xsd:field xpath="@acronyme_theme"/>
    </xsd:keyref>

    <xsd:keyref name="respo_equipe" refer="cle_equipe">
        <xsd:selector xpath = "Membre"/>
        <xsd:field xpath="@id_membre"/>
    </xsd:keyref>

</xsd:element>

<xsd:complexType name = "These">

    <xsd:sequence>
        <xsd:element name="titre_these" type="xsd:string"/>
        <xsd:element name="domaine"  type="xsd:string"/>
        <xsd:element name="id_production_scientifique" type="xsd:token" maxOccurs="unbounded"/>

        <!-- Ajout des attributs externes -->
        <xsd:element name="acronyme_equipe"  type="xsd:token"/>
    </xsd:sequence>

</xsd:complexType>


    <xsd:element name="En_Cours">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="These">
                    <xsd:sequence>
                        <xsd:element name="date_debut" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>

        <xsd:key name= "cle_these_en_cours">
            <xsd:selector xpath = "These"/>
            <xsd:field xpath = "@titre_these"/>
        </xsd:key>

        <xsd:keyref name="production_scientifique_ref_en_cours" refer="cle_these_en_cours">
            <xsd:selector xpath="Production_Scientifique"/>
            <xsd:field xpath="@id_production_scientifique"/>
        </xsd:keyref>

        <xsd:keyref name="acronyme_equipe_ref_en_cours" refer="cle_these_en_cours">
            <xsd:selector xpath="Equipe"/>
            <xsd:field xpath="@acronyme_equipe"/>
        </xsd:keyref>

    </xsd:element>


    <xsd:element name="Soutenue">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="These">
                    <xsd:sequence>
                        <xsd:element name="date_debut" type="xsd:string"/>
                        <xsd:element name="date_fin" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>

        <xsd:key name= "cle_these_soutenue">
            <xsd:selector xpath = "These"/>
            <xsd:field xpath = "@titre_these"/>
        </xsd:key>

        <xsd:keyref name="production_scientifique_ref_soutenue" refer="cle_these_soutenue">
            <xsd:selector xpath="Production_Scientifique"/>
            <xsd:field xpath="@id_production_scientifique"/>
        </xsd:keyref>

        <xsd:keyref name="acronyme_equipe_ref_soutenue" refer="cle_these_soutenue">
            <xsd:selector xpath="Equipe"/>
            <xsd:field xpath="@acronyme_equipe"/>
        </xsd:keyref>

    </xsd:element>


<xsd:complexType name="Production_Scientifique">
    <xsd:sequence>
        <xsd:element name="id_production_scientifique" type="xsd:int"/>
        <xsd:element name="titre" type="xsd:string"/>
        <xsd:element name="annee_publication" type="xsd:int"/>
        <xsd:element name="nombre_pages" type="xsd:int"/>
    </xsd:sequence>
</xsd:complexType>


<xsd:element name="Rapport_Recherche">
    <xsd:complexType>
        <xsd:complexContent>
            <xsd:extension base="Production_Scientifique">
                <xsd:sequence>
                <!--Attribut externe-->
                <xsd:element name = "projet_recherche" type = "xsd:string"/>
                <xsd:element name="id_auteur" type="xsd:token" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

        <xsd:key name="cle_rapport">
            <xsd:selector xpath="Rapport_Recherche"/>
            <xsd:field xpath="@id_production_scientifique"/>
        </xsd:key>

        <xsd:keyref name= "rapport_projet" refer = "cle_rapport">
            <xsd:selector xpath = "Projet_de_Recherche"/>
            <xsd:field xpath = "@projet_recherche"/>
        </xsd:keyref>

    <xsd:keyref name= "auteur_ref" refer = "cle_rapport">
        <xsd:selector xpath = "Auteur"/>
        <xsd:field xpath = "@id_auteur"/>
    </xsd:keyref>
</xsd:element>



<xsd:element name="Article_Conference">

    <xsd:complexType>
        <xsd:complexContent>
            <xsd:extension base="Production_Scientifique">
                <xsd:sequence>
                    <xsd:element name="nom_conf" type="xsd:string"/>
                    <xsd:element name="classe" type="xsd:string"/>
                    <!--Attribut externe-->
                    <xsd:element name="id_auteur" type="xsd:token" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:key name="cle_article">
		<xsd:selector xpath="Article_Conference"/>
		<xsd:field xpath="@nom_conf"/>
    </xsd:key>

    <xsd:keyref name= "auteur_ref_article" refer = "cle_article">
        <xsd:selector xpath = "Auteur"/>
        <xsd:field xpath = "@id_auteur"/>
    </xsd:keyref>

</xsd:element>



<xsd:element name="Revue">

    <xsd:complexType>
        <xsd:complexContent>
            <xsd:extension base="Production_Scientifique">
                <xsd:sequence>
                    <xsd:element name="nom_journal" type="xsd:string"/>
                    <xsd:element name="classe" type="xsd:string"/>
                    <!--Attribut externe-->
                    <xsd:element name="id_auteur" type="xsd:token" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
		</xsd:complexContent>
    </xsd:complexType>

    <xsd:key name="cle_revue">
		<xsd:selector xpath="Revue"/>
		 <xsd:field xpath="@nom_journal"/>
    </xsd:key>

    <xsd:keyref name= "auteur_ref_revue" refer = "cle_revue">
        <xsd:selector xpath = "Auteur"/>
        <xsd:field xpath = "@id_auteur"/>
    </xsd:keyref>

</xsd:element>


<xsd:element name = "Theme">

	<xsd:complexType>
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="acronyme_theme" type="xsd:token"/>
            <!-- ajout des attributs externes-->
            <xsd:element name="id_membre" type="xsd:token"/>
            <xsd:element name="acronyme_projet" type="xsd:token"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:key name= "cle_theme">
        <xsd:selector xpath = "Theme"/>
        <xsd:field xpath = "@acronyme_theme"/>
    </xsd:key>

    <xsd:keyref name="respo_ref" refer="cle_theme">
        <xsd:selector xpath = "Membre"/>
        <xsd:field xpath="@id_membre"/>
    </xsd:keyref>

    <xsd:keyref name="projet_recherche_ref" refer="cle_theme">
        <xsd:selector xpath = "Projet_de_Recherche"/>
        <xsd:field xpath="@acronyme_projet"/>
    </xsd:keyref>

</xsd:element>


<xsd:complexType name="Evenement">
    <xsd:sequence>
        <xsd:element name="nom_evenement" type="xsd:string"/>
        <xsd:element name="date_debut" type="xsd:string"/>
        <xsd:element name="date_fin" type="xsd:string"/>
        <!-- ajout des attributs externes-->
         <xsd:element name="acronyme_equipe" type="xsd:token"/>
         <xsd:element name="acronyme_theme" type="xsd:token" />
    </xsd:sequence>
</xsd:complexType>


<xsd:element name="Reunion_groupe">

    <xsd:complexType>
        <xsd:complexContent>
            <xsd:extension base="Evenement"/>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:key name="cle_evenement_reunion_groupe">
        <xsd:selector xpath = "Evenement"/>
        <xsd:field xpath = "@nom_evenement"/>
    </xsd:key>

    <xsd:keyref name="reunion_groupe_equipe" refer="cle_evenement_reunion_groupe">
        <xsd:selector xpath="Equipe"/>
        <xsd:field xpath="@acronyme_equipe"/>
    </xsd:keyref>

    <xsd:keyref name="reunion_groupe_theme" refer="cle_evenement_reunion_groupe">
        <xsd:selector xpath = "Theme"/>
        <xsd:field xpath="@acronyme_theme"/>
    </xsd:keyref>

</xsd:element>


<xsd:element name="Conference">
    <xsd:complexType>
        <xsd:complexContent>
            <xsd:extension base="Evenement">
                <xsd:sequence>
                    <xsd:element name="classe" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:key name="cle_evenement">
        <xsd:selector xpath = "Evenement"/>
        <xsd:field xpath = "@nom_evenement"/>
    </xsd:key>

    <xsd:keyref name="evenement_theme" refer="cle_evenement">
        <xsd:selector xpath = "Theme"/>
        <xsd:field xpath="@acronyme_theme"/>
    </xsd:keyref>

    <xsd:keyref name="conference_equipe" refer="cle_evenement">
        <xsd:selector xpath="Equipe"/>
        <xsd:field xpath="@acronyme_equipe"/>
    </xsd:keyref>

    <xsd:keyref name="respo_conference" refer="cle_evenement">
        <xsd:selector xpath="Membre"/>
        <xsd:field xpath="@id_membre"/>
    </xsd:keyref>
</xsd:element>

<xsd:element name="Projet_de_Recherche">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="titre_projet" type="xsd:string"/>
            <xsd:element name="acronyme_projet" type="xsd:token"/>
            <xsd:element name="date_debut" type="xsd:string"/>
            <xsd:element name="duree" type="xsd:string"/>
            <xsd:element name="cout" type="xsd:float"/>
            <xsd:element name="budget" type="xsd:float"/>
            <xsd:element ref="Rapport_Recherche" maxOccurs="unbounded" minOccurs="0"/>
            <!-- attributs externes -->
            <xsd:element name="acronyme_equipe" type="xsd:token"/>
            <xsd:element name="id_membre" type="xsd:token"/>
            <xsd:element name="nom_partenaire" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:key name="cle_projet">
        <xsd:selector xpath = "Projet_de_Recherche"/>
        <xsd:field xpath = "@acronyme_projet"/>
    </xsd:key>

    <xsd:keyref name="equipe_ref_projet_recherche" refer="cle_projet">
        <xsd:selector xpath="Equipe"/>
        <xsd:field xpath="@acronyme_equipe"/>
    </xsd:keyref>

    <xsd:keyref name="respo_ref_projet_recherche" refer="cle_projet">
        <xsd:selector xpath="Membre"/>
        <xsd:field xpath="@id_membre"/>
    </xsd:keyref>

    <xsd:keyref name="partenaire_ref" refer="cle_projet">
        <xsd:selector xpath="Partenaire"/>
        <xsd:field xpath="@nom_partenaire"/>
    </xsd:keyref>
</xsd:element>


<xsd:element name="Partenaire">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="nom" type="xsd:string"/>
            <xsd:element name="pays" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:key name="cle_partenaire">
        <xsd:selector xpath = "Partenaire"/>
        <xsd:field xpath = "@nom"/>
    </xsd:key>

</xsd:element>

<xsd:element name="Auteur">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="id_auteur" type="xsd:token"/>
            <xsd:element name="nom" type="xsd:string"/>
            <xsd:element name="affiliation" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:key name="cle_auteur">
        <xsd:selector xpath = "Auteur"/>
        <xsd:field xpath = "@id_auteur"/>
    </xsd:key>

</xsd:element>



</xsd:schema>

